Django>=4.1.0,<4.2>
mssql-django
requests
jsonschema  
borb==2.1.13
djangorestframework
pyodbc
celery
django_celery_beat
django_celery_results
redisc
python-decouple
flower
PyPDF2
https://github.com/Barukimang/django-jet/archive/dev.zip