{% extends 'base.html' %}
{% load static %}
  {% csrf_token %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/receptor.css' %}">
    
    
{% endblock %}

{% block content %}


<div class="container">
  <h2 class="mb-4">Editar Receptor</h2>
  <form method="post" class="needs-validation" novalidate>
   <input type="hidden" name="_method" value="PUT">
  
    {% csrf_token %}
       {% if mensaje_exito %}
    <div id="mensaje-exito" class="alert alert-success mt-3">
        {{ mensaje_exito }}
    </div>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}

    
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.codigo.label_tag }}
          {{ form.codigo }}
        </div>       
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.nombre.label_tag }}
          
          {{ form.nombre }}
        </div>
         <div class="col-md-6 mb-3">
          {{ form.nombrecomercial.label_tag }}
          {{ form.nombrecomercial }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.tipodocumento.label_tag }}
          {{ form.tipodocumento }}
        </div>
        
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.numdocumento.label_tag }}
          {{ form.numdocumento }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.nrc.label_tag }}
          {{ form.nrc }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.codactividad.label_tag }}
          {{ form.codactividad }}
        </div>       
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.telefono.label_tag }}
          {{ form.telefono }}
        </div>
        <div class="col-md-6 mb-3 id_correo">
         {{ form.correo.label_tag }}
          {{ form.correo }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.complemento.label_tag }}
          {{ form.complemento }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.municipio.label_tag }}
          {{ form.municipio }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.departamento.label_tag }}
          {{ form.departamento }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.codpais.label_tag }}
          {{ form.codpais }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.tipopersona.label_tag }}
          {{ form.tipopersona }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.tiporeceptor.label_tag }}
          {{ form.tiporeceptor }}
        </div>
      </div>
    </div>
     

    {% if perms.dtesv.change_receptor %}
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
    {% endif %}
   
  </form>
        

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="{% static 'js/edit_receptor.js' %}"></script>
<script>
$(document).ready(function() {
    // Verifica si el mensaje de éxito está presente en el DOM
    if ($("#mensaje-exito").length > 0) {
        // Muestra el mensaje con una animación de desvanecimiento
        $("#mensaje-exito").fadeIn("slow");

        // Después de 5 segundos, oculta el mensaje
        setTimeout(function() {
            $("#mensaje-exito").fadeOut("slow");
        }, 5000); // Cambia este valor si deseas que el mensaje se muestre durante más o menos tiempo
    }
});
</script>

{% endblock %}
