{% extends "base.html" %}
{% load static %}
  {% csrf_token %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/receptor.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
{% endblock %}

 

{% block content %}
  <div class="container">
  <h2 class="mb-4">Información del Documento</h2>
  <form method="post" class="needs-validation" novalidate>
   <input type="hidden" name="_method" value="PUT">
  
    {% csrf_token %}
       {% if mensaje_exito %}
    <div id="mensaje-exito" class="alert alert-success mt-3">
        {{ mensaje_exito }}
    </div>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}

    
    <div class="form-group">
      <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.codigoGeneracion.label_tag }}
                {{ form.initial.codigoGeneracion }}
             </div>
             <div class="col-md-6 mb-3">
                {{ form.fecEmi.label_tag }}
                {{ form.initial.fecEmi }}
            </div>       
        </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ form.tipodocumento.label_tag }}
          
          {{ form.tipodocumento }}
        </div>
         <div class="col-md-6 mb-3">
          {{ form.num_documento.label_tag }}
          {{ form.initial.num_documento }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="form.initial.nombre_cliente">Cliente:</label>
          
          {{ form.initial.receptor_id }}
        </div>
         <div class="col-md-6 mb-3">
          {{ form.estado.label_tag }}
          {{ form.initial.estado }}
        </div>
      </div>
    </div>

    <!-- Mostrar el campo detalle como una tabla -->
      <div class="form-group">
        <h4>Detalle:</h4>
        <table class="table">
          <thead>
            <tr>
              <th>codigo</th>
              <th>cantidad</th>
              <th>Precio Unitario</th>
              <th>ventaGravada</th>
              
              <!-- Agrega más columnas según los campos en tu modelo DocumentosDetalle -->
            </tr>
          </thead>
          <tbody>
            {% for detalle in detalle_queryset %}
              <tr>
                <td>{{ detalle.codigo }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.precioUni }}</td>
                <td>{{ detalle.ventaGravada }}</td>
                
                <!-- Repite esto para cada campo en tu modelo DocumentosDetalle -->
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
        <div class="form-group text-right">
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.totalGravada.label_tag }}
            {{ form.initial.totalGravada }}
        </div>       
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.iva.label_tag }}
            {{ form.initial.iva }}
        </div>       
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.ivaPerci1.label_tag }}
            {{ form.initial.ivaPerci1 }}
        </div>       
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.montoTotalOperacion.label_tag }}
            {{ form.initial.montoTotalOperacion }}
        </div>       
    </div>
    {% if form.initial.tipodocumento == '03' and form.initial.estado == 'PROCESADO' %}
    <div class="mt-3">
     <button id="btnCrearNotaCredito" type="button" class="btn btn-primary" onclick="crearNotaCredito('{{ form.initial.codigoGeneracion }}')">Crear Nota de credito</button>
    </div>
    {% endif %}
    <!-- Agrega aquí otros campos o contenido -->

</div>


      
     
     </form>
  </div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
function crearNotaCredito(codigoGeneracion) {
    // Obtener otros valores del formulario según sea necesario
    //var otroCampo = document.getElementById('id_otro_campo').value;

    // Crear un objeto con los valores que necesitas enviar
    var datos = {
        'codigoGeneracion': codigoGeneracion,
        
        // Agrega más campos según sea necesario
    };
    console.log(datos);

    // Enviar una solicitud AJAX a la vista de Django
    // Puedes usar la biblioteca jQuery o Fetch API para esto
    // Aquí se presenta un ejemplo usando jQuery
    $.ajax({
        url: '/dtesv/crear_nota_credito/'+codigoGeneracion+'/',
        type: 'POST',
         headers: {
        'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()
         },              
        success: function(response) {
            // Manejar la respuesta si es necesario
            console.log(response);
         if (response.success === true) {
            // Mostrar un mensaje de éxito personalizado
            $('#mensaje-exito').html('<div class="alert alert-success mt-3">' + response.message + '</div>');

            // Muestra el mensaje con una animación de desvanecimiento
            $("#mensaje-exito").fadeIn("slow");

            // Después de 5 segundos, oculta el mensaje
            setTimeout(function() {
                $("#mensaje-exito").fadeOut("slow");
            }, 50000); // Cambia este valor si deseas que el mensaje se muestre durante más o menos tiempo

            // Verificar el mensaje y ocultar el botón si es 'OK'
            if (response.message === 'OK') {
                $('#btnCrearNotaCredito').hide();
            }
        }
        },
        error: function(error) {
            console.error(error);
        }
    });
}
</script>
{% endblock %}


